/* contact 부분 */
/* contact 공통 부분 */
.contactArea{width: 100%; max-width: 1350px; margin: 0 auto; padding-top: 100px; display: flex; flex-direction: column; justify-content: center;}
/* contact 제목 부분 */
.contactArea .contactTitleArea{display: flex; align-items: flex-end;}
.contactArea .contactTitleArea h2{font-size: 80px; margin-bottom: 5vh;}
.contactArea .contactTitleArea span{ font-size: 18px; font-weight: 900; margin-bottom: 5vh;}
.contactArea .contactTitleArea span a{color: black;}
/* contact 컨텐츠 부분 */
.contactArea ul{display: flex; justify-content: space-between; margin-bottom: 50px;}
.contactArea ul li{width: 40%; max-width: 530px;}
.contactArea ul li h3{font-size: 40px; margin-bottom: 3vh;}
.contactArea ul li .contactMapArea{position: relative; width: 100%; height: 0; padding-bottom: 70%; margin-bottom: 3.5vh;}
.contactArea ul li .contactMapArea iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    -webkit-filter: grayscale(100%);
    filter: gray;
}
.contactArea ul li .contactContentsArea{text-align: right; position: relative;}
.contactArea ul li .contactContentsArea p{font-size: 18px;}
.contactArea ul li .contactContentsArea p:not(:last-of-type){margin-bottom: 1.8vh;}
.contactArea ul li .contactContentsArea span{position: absolute; left: 0; top: 0; font-size: 20px;}


@media screen and (min-width:767px){
/* .contactArea{height: 100vh;} */
}


@media screen and (min-width:767px) and (max-height:810px){
.contactArea ul li h3{margin-bottom: 0;}
}
@media screen and (min-width:767px) and (max-height:780px){
.contactArea ul li .contactContentsArea p:not(:last-of-type){margin-bottom: 0;}
}
@media screen and (min-width:767px) and (max-height:700px){
.contactArea .contactTitleArea h2{margin-bottom: 0;}
}

/* 테블릿 */
@media screen and (min-width:767px) and (max-width : 1800px){
.contactArea{padding: 75px 50px 0 100px; box-sizing: border-box;}

}

@media screen and (min-width:767px) and (max-width:1366px){
.contactArea{padding: 100px 30px 0;}
.contactArea ul li{width: 48%;}
}



/* 모바일 */
@media screen and (max-width:767px){
.contactArea{padding: 75px 10px 0; box-sizing: border-box;}
.contactArea .contactTitleArea{margin-bottom: 30px; flex-direction: column; align-items: flex-start;} 
.contactArea .contactTitleArea h2{margin-bottom: 20px;}
.contactArea .contactTitleArea span{margin-bottom: 0;}

.contactArea ul{flex-direction: column; width: 100%; max-width: 100%;}
.contactArea ul li{width: 100%; max-width: 100%; margin-bottom: 50px;}

body > div > footer{border-top: 1px solid;}
}
