header{}
header h1{position: fixed;top: 30px; left: 30px; z-index: 3; width: 193px; height: 33px; background-image: url(../img/logo_white.png); background-repeat: no-repeat; background-position: left top; background-size: contain;  opacity: 1; transition: 0.3s;}
header h1 a{text-indent: -9999px; display: block; height: 100%;}
header h1 a img{}
header h1 a img{opacity: 0;}
header ul{position: fixed; top:30px; right: 30px; z-index: 1;}
header ul li{width: 8px; height: 8px; border-radius: 100%; background-color: rgba(255,255,255,0.5); transition: 0.3s; }
header ul li span{display: none;}
header ul li:not(:last-of-type){margin-bottom: 10px;}
header ul li.active{background-color: white; position: relative;}
header ul li.active > span{display: flex; position: absolute; right: 25px; top: -4px; font-size: 16px; font-weight: 500; letter-spacing: 0px;}
header ul li.active > span span{display: block; padding-left: 10px;}
header div{width: 56px; position: fixed; top: calc(50% - 11px); left: 30px; z-index: 3; cursor: pointer; }
header div span{display: block; height: 4px; background-color: white; transition: 0.3s;}
header div span:first-of-type{margin-bottom: 14px;}
header div span:nth-of-type(2){width: 36px}
header > span{position: fixed; font-size: 16px; letter-spacing: 1px; color: #7f7f7f; bottom: 150px; left: 45px; transform: rotateZ(90deg); transform-origin: left top; z-index: 1;}
header > span::after{content: "→"; font-size: 20px; color: white; font-weight: bold;}
header > span.newsLink{transform: rotateZ(0deg); left: 30px; bottom: 30px; font-family: 'NanumSquare'; font-weight: 900; font-size: 22px; color: black;}
header > span.newsLink a{text-decoration: none; color: black; font-weight: 900; font-size: 20px;}
header.headerBlack{}
header.headerBlack h1{background-image: url(../img/logo.png);}
header.headerBlack ul li{background-color: rgba(0, 0, 0, 0.5);}
header.headerBlack ul li.active{background-color: black;}
header.headerBlack div span{background-color: black;}
header.headerBlack  > span::after{color: black;}

/*service 메뉴*/
.serviceArea header{}
.serviceArea header h1{background-image: url(../img/logo.png);}
.serviceArea header ul li{background-color: rgba(0, 0, 0, 0.5);}
.serviceArea header ul li.active{background-color: black;}
.serviceArea header div span{background-color: black;}
.serviceArea header > span::after{color: black;}


/* news 메뉴 */
/* .newsArea header{}
.newsArea header h1{background-image: url(../img/logo.png);}
.newsArea header ul{display: none;}
.newsArea header ul li{background-color: rgba(0, 0, 0, 0.5);}
.newsArea header ul li.active{background-color: black;}
.newsArea header div span{background-color: black;} */


nav{position: fixed; left: -100%; top: 0; width: 100%; height: 100%; background-color: black; z-index: 2;  transition: 1s cubic-bezier(0.75, 0.01, 1, 1); z-index: 2; overflow: hidden;}
nav.active{left: 0;}

nav div{display: flex; height: 100%; justify-content: center; align-items: center; position: relative; width: 100%; max-width: 1470px; margin: 0 auto;}
nav div ul{display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; box-sizing: border-box;}
nav div ul > li{height: 40%;}
nav div ul > li:not(:last-of-type){margin-right: 5%;}
nav div ul > li:last-of-type{margin-right: 1%;}
nav div ul > li ol{display: flex; flex-direction: column; justify-content: start; align-items: flex-start;}
nav div ul > li ol li{font-size: 40px; }
nav div ul > li ol li:last-of-type{order: -1; font-size: 80px; margin-bottom: 35px; position: relative;}
nav div ul > li ol li:not(:last-of-type){line-height: 1.5;}
nav div ul > li ol li a{color: rgba(255,255,255,0.5); text-decoration: none;}
nav div ul > li ol li:last-of-type a{color: white;}
nav div ul > li ol li:hover:not(:last-of-type) a{color: white;}
nav div ul > li ol li:last-of-type::after{content: ''; display: block; position: absolute; left: 0; bottom: 0; width: 0%; height: 6px; background-color: white; transition: 1s;}
nav div ul > li ol:hover li:last-of-type::after{width: 100%;}

body > div > footer {display: none;}

@media screen and (max-width : 1800px){
nav div ul > li ol li:last-of-type{font-size: 4.45vw;}
}

/*스크롤 페이지*/
@media screen and (min-width:768px){
section{height: 100vh; transition:bottom 1s; overflow: hidden;}
section{position: fixed; bottom: 0vh; width: 100%}
section:nth-of-type(1){z-index: 0; background-color: white; }
section:nth-of-type(2){z-index: -1; background-color: white; }
section:nth-of-type(3){z-index: -2; }
section:nth-of-type(4){z-index: -3; }
section:nth-of-type(5){z-index: -4; }
section:nth-of-type(6){z-index: -5; }
section:nth-of-type(7){z-index: -6; }
section:nth-of-type(8){z-index: -7; }
section:nth-of-type(9){z-index: -8; }
section:nth-of-type(10){z-index: -9; }
    
div.pageArea:not(:first-of-type){position: absolute; top: 100vh; left: 0; width: 100%; height: 100%; transition: 1s;}
div.pageArea:not(:first-of-type).test{top: 0vh;}
section div[class *="pageArea"]{height: 100%;}
.test{bottom: 100vh;}
.scrollClass{bottom: 100vh;}

/* nav{position: relative;} */
nav div footer{position: absolute; bottom: 30px; left: 0; width: 100%; display: flex; justify-content: space-between; font-size: 14px;}
nav div footer p{color: #999999;}
nav div footer p span{color:#4d4d4d; margin-left: 13px; padding-left: 13px; position: relative;}
nav div footer p span::before{content: ''; height:11px ; width: 1px; background-color: #4d4d4d; position: absolute; left: 0; top: 2px;}
nav div footer > span{font-size: 18px; color: white;}
nav div footer > span a{color: white; margin-left: 20px;}

}

@media screen and (max-width:1366px){
header h1{left: calc(50% - 96.5px);}
header div{top: 30px;}

nav div ul{flex-direction: column;}
nav div ul > li{margin: 0; height: auto;}
nav div ul > li:not(:last-of-type){margin: 0;}
nav div ul > li:last-of-type{margin: 0;}
nav div ul > li ol li:not(:last-of-type){display: none;}
nav div ul > li ol li:last-of-type{font-size: 60px;}

.aboutArea{padding: 75px 30px 0;}
.visionArea ul li.Active::after{content: ''; position: absolute; width: 100%; height: 100%; background-color: rgba(255,255,255,0.5); }
.visionArea ul li.unActive > div:first-of-type{left: 39%; top: 10vh;}
.visionArea ul li.unActive > div:first-of-type h3{transform-origin: left bottom; width: 300px;}
}



@media screen and (max-width:768px){
header ul{display: none;}
header h1{right: 30px; left: auto; transition: 0.1s;}
header div span{transition: 0.1s;}
header > span{display: none;}
header > span.newsLink{display: block;}

nav div footer{display: none;}
body > div > footer{display: block; padding: 50px 15px;}
body > div > footer h2{margin-bottom: 20px;}
body > div > footer p{font-size: 18px; font-weight: 900;}
body > div > footer p span{margin: 20px 0; display: block; font-size: 18px; line-height: 1.5; font-weight: 500; color:#7a7a7a; }
body > div > footer > span{font-size: 18px; font-weight: 900;}
body > div > footer > span a{color: black;}
}

/* nav div footer{display: none;} */

