/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: inherit;
    /* font-weight: 100; */
    /* font-family: 'Anton' , "NanumSquare"; */
    vertical-align: baseline;
    font-family: 'NanumSquare';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{word-break: keep-all;}
h1 , h2, header > span , .mainArea div span , .visionArea ul li h3 , .visionArea ul li div:nth-of-type(2) span, nav ul li ol li a, .BrandWrapArea .brandEditionArea div.pageArea:last-of-type div:first-of-type ul li dl dt,
.BrandWrapArea .brandShopArea div.pageArea:last-of-type dl dt,
.serviceArea h3 , .ST02 > div:nth-of-type(2) ul li ,
.newsContentsArea ul li figure figcaption h3 , .newsContentsArea ul li figure figcaption span:first-of-type, .newsPageArea ul li a, .newsListArea .newsListTitleArea h3 ,.newsListArea .newsListTitleArea h3 span,
.contactArea ul li h3 , .contactArea ul li div span
{font-family: 'Anton';}