/* .serviceDistributionArea , .serviceLogistigyArea{display: none;} */
.serviceDistributionArea , .serviceLogistigyArea{display: flex; justify-content: center; align-items: center;}
.serviceDistributionArea h2, .serviceLogistigyArea h2{font-size: 144px;}
.serviceTechnology01Area, .serviceTechnology02Area, .serviceTechnology03Area{background-color: white;}
/* service technology */
.serviceTechnologyArea .pageArea:first-of-type{display: flex;}




/* service technology 기술 공통 부분*/
.serviceTechnologyArea .pageArea{background-color: white;}
.ST01 , .ST02 ,.ST03{width: 100%; height: 100%; max-width: 1350px; margin: 0 auto;}
/* service technology 기술1 부분*/
.ST01{display: flex; justify-content: space-between; align-items: center;}
/* service technology 기술1 제목 부분*/
.ST01 div:first-of-type{}
.ST01 div:first-of-type h2{font-size: 146px; margin-bottom: 5vh;}
.ST01 div:first-of-type p{font-size: 44px; font-weight: 900; letter-spacing: -2px;}
/* service technology 기술1 내용 부분*/
.ST01 ul{height: 100%; display: flex; flex-direction: column; width: 50%;}
.ST01 ul li{flex: 1; width: 100%; display: flex; flex-direction: column; justify-content: center;
background-repeat:no-repeat;background-position: right center; background-size:40%; padding-right: 40px}
.ST01 ul li:nth-of-type(1){background-image: url(../img/service/ST01Img01.png)}
.ST01 ul li:nth-of-type(2){background-image: url(../img/service/ST01Img02.png)}
.ST01 ul li:nth-of-type(3){background-image: url(../img/service/ST01Img03.png)}
.ST01 ul li:nth-of-type(2){border-top:1px; border-bottom: 1px; border-style: solid; box-sizing: border-box; padding-right: 0;}
.ST01 ul li h3{font-size: 40px; font-weight: 900; margin-bottom: 2.5vh; letter-spacing: 1px;}
.ST01 ul li p{font-size: 24px; font-weight: 600; margin-bottom: 2.5vh; line-height: 1.5; letter-spacing: -2px;}
.ST01 ul li span{font-size: 18px; font-weight: 600;}


/* service technology 기술2 부분*/
.ST02{display: flex; flex-direction: column; height: 100%; justify-content: center;}
/* service technology 기술2 제목 부분*/
.ST02 > div:first-of-type{display: flex; justify-content: space-between; margin-bottom: 10vh;}
.ST02 > div:first-of-type div{}
.ST02 > div:first-of-type div h2{font-size: 146px; margin-bottom: 4vh;}
.ST02 > div:first-of-type div p{font-size: 44px; font-weight: 900; letter-spacing: -2px;}
/* service technology 기술2 제목 옆 내용 부분*/
.ST02 > div:first-of-type ol{display: flex; flex-direction: column; justify-content: space-between; width: calc(100% - 520px);}
.ST02 > div:first-of-type ol li{height: 48%; background-color: #e6e6e6; display: flex; align-items: center; justify-content: space-between; padding:0 5%; box-sizing: border-box;}
.ST02 > div:first-of-type ol li h3{font-size: 22px; font-family: 'NanumSquare'; font-weight: bold; letter-spacing: -2px; line-height: 1.5;}
.ST02 > div:first-of-type ol li h3 span{font-size: 40px; display: block; font-family: 'Anton'; letter-spacing: 0;}
.ST02 > div:first-of-type ol li dl{font-size: 18px; letter-spacing: -2px; line-height: 1.5; width: 320px;}
.ST02 > div:first-of-type ol li dl dt{font-weight: 900;}
.ST02 > div:first-of-type ol li dl dd{font-weight: 600;}

/* service technology 기술2 소제목 부분*/
.ST02 > div:nth-of-type(2){display: flex; justify-content: space-between;}
.ST02 > div:nth-of-type(2) div{}
.ST02 > div:nth-of-type(2) div h3{font-size: 52px; margin-bottom: 2vh;}
.ST02 > div:nth-of-type(2) div dl{font-size: 18px; line-height: 2; letter-spacing: -2px;}
.ST02 > div:nth-of-type(2) div dl dt{font-weight: 900; }
.ST02 > div:nth-of-type(2) div dl dd{font-weight: 600;}
/* service technology 기술2 소제목 내용 부분*/
.ST02 > div:nth-of-type(2) ul{display: flex; justify-content: space-between; width: calc(100% - 520px);}
.ST02 > div:nth-of-type(2) ul li{font-size: 20px; line-height: 1.5; font-weight: 500; display: flex; align-items: flex-end;  width: 120px;}
.ST02 > div:nth-of-type(2) ul li{ background-repeat: no-repeat; background-position: left top; background-size: 60%;}
.ST02 > div:nth-of-type(2) ul li:nth-of-type(1){background-image: url(../img/service/ST02Img01.png);}
.ST02 > div:nth-of-type(2) ul li:nth-of-type(2){background-image: url(../img/service/ST02Img02.png);}
.ST02 > div:nth-of-type(2) ul li:nth-of-type(3){background-image: url(../img/service/ST02Img03.png);}


/* service technology 기술3 부분*/
.ST03{height: 100%; display: flex; flex-direction: column; justify-content: center;}
/* service technology 기술3 제목 부분*/
.ST03 div:first-of-type{display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 15vh;}
.ST03 div:first-of-type h2{font-size: 146px;}
.ST03 div:first-of-type p{font-size: 44px; font-weight: 900; letter-spacing: -5px;}
/* service technology 기술3 컨텐츠 부분*/
.ST03 ul{height: 45vh; min-height: 400px; display: flex; justify-content: space-between;}
.ST03 ul li{width: 25%; max-width: 295px; height: 450px; display: flex; flex-direction: column; justify-content: flex-end; text-align: center;}
.ST03 ul li{background-repeat: no-repeat ; background-position: center top; background-size: 200px;}
.ST03 ul li:nth-of-type(1){background-image: url(../img/service/ST03Img01.png)}
.ST03 ul li:nth-of-type(2){background-image: url(../img/service/ST03Img02.png)}
.ST03 ul li:nth-of-type(3){background-image: url(../img/service/ST03Img03.png)}
.ST03 ul li dl{}
.ST03 ul li dl dt{font-size: 24px; font-weight: 900; letter-spacing: -2px; margin-bottom: 1vh;}
.ST03 ul li dl dt span{font-size: 64px; font-family: 'Anton'; font-weight: 900; display: block; margin-bottom: 2vh;}
.ST03 ul li dl dd{font-size: 18px; line-height: 1.5; font-weight: 600;}



/* service contents 공통부분*/
.serviceContents01Area ,.serviceContents02Area, .serviceContents03Area , .serviceContents04Area{background-color: #dddddd;}
.SC01{width: 100%; height: 100%; max-width: 1550px; margin: 0 auto; position: relative;}
.SC02{width: 100%; height: 100%; max-width: 1350px; margin: 0 auto;}
/* service contents 컨텐츠1 부분*/
.SC01{display: flex; flex-direction: column; justify-content: center; align-items: flex-end; }
.SC01 > *:not(div){width: 570px;}
.SC01 div{position: absolute; left: 0; top: 0; z-index: -1;}
.pageArea:first-of-type .SC01{background: url(../img/service/SC01Img01.jpg) no-repeat left top;}
/* service contents 컨텐츠1 제목 부분*/
.SC01 h2{font-size: 120px; margin-bottom: 10vh;}
/* service contents 컨텐츠1 컨텐츠 부분*/
.SC01 ul{}
.SC01 ul li{}
.SC01 ul li:not(:last-of-type){margin-bottom: 7vh;}
.SC01 ul li span{font-size: 24px; font-weight: 900; letter-spacing: -3px; display: block; margin-bottom: 1vh;}
.SC01 ul li h3{font-size: 40px; margin-bottom: 2vh;}
.SC01 ul li p{font-size: 18px; font-weight: 600; letter-spacing: -2px; line-height: 1.5;}

/* service contents 컨텐츠2 부분*/
/*컨텐츠1과 이미지를 제외하고 CSS 동일*/
.pageArea:nth-of-type(2) .SC01{background: url(../img/service/SC02Img01.jpg) no-repeat left top;}


/* service contents 컨텐츠3 부분*/
.SC02{display: flex; flex-direction: column; justify-content: center;}
/* service contents 컨텐츠3 제목 부분*/
.SC02 h2{font-size: 108px; text-align: center; margin-bottom: 9vh;}
/* service contents 컨텐츠3 컨텐츠 부분*/
.SC02 ul{display: flex; justify-content: space-between;}
.SC02 ul li{width: 32%;}
.SC02 ul li span{font-size: 24px; display: block; font-weight: 900; margin-bottom: 1vh; letter-spacing: -3px;}
.SC02 ul li figure{}
.SC02 ul li figure img{width: 100%; margin-bottom: 2vh;}
.SC02 ul li figure figcaption{height: 19vh; max-height: 200px;}
.serviceContents04Area .SC02 ul li figure figcaption{max-height: 100px;}

.SC02 ul li figure figcaption dl{height: 100%; display: flex; flex-direction: column; justify-content: space-between;}
.SC02 ul li figure figcaption dl dt{font-size: 40px; font-weight: 900; letter-spacing: -4px;}
.SC02 ul li figure figcaption dl dd{font-size: 18px; letter-spacing: -2px; font-weight: 600; line-height: 1.5;}

/* service contents 컨텐츠4 부분*/
/*컨텐츠3과 컨텐츠 내용 높이 값을 제외하고 CSS 동일*/
.pageArea:nth-of-type(4) .SC02 ul li figure figcaption{height: 16vh;}



/* 나중에 제거*/
/* .serviceDistributionArea , .serviceLogistigyArea{display: none;} */



/* 반응형 */
@media screen and (min-width : 1800px) and (max-height : 850px){
/* service technology 기술1 제목 부분*/
.ST01 div:first-of-type h2{font-size: 100px;}
.ST01 div:first-of-type p{font-size: 40px;}

/* service technology 기술2 제목 부분*/
.ST02 > div:first-of-type div h2{font-size: 100px;}
.ST02 > div:first-of-type div p{font-size: 40px;}

/* service technology 기술3 제목 부분*/
.ST03 div h2{font-size: 100px;}
.ST03 div p{font-size: 40px;}


/* service contents 컨텐츠1 제목 부분*/
.SC01 h2{font-size: 100px;}


/* service contents 컨텐츠3 컨텐츠 부분*/
.SC02 ul li figure img{width: 50%;}
}


/*테블릿 시작*/
@media screen and (min-width:767px) and (max-width : 1800px) and (max-height : 850px){
.ST01, .ST02, .ST03 , .SC01 , .SC02{padding: 75px 50px 0 100px; box-sizing: border-box;}

/* service technology 기술1 제목 부분*/
.ST01 div:first-of-type h2{font-size: 100px;}
.ST01 div:first-of-type p{font-size: 40px;}

/* service technology 기술2 제목 부분*/
.ST02 > div:first-of-type div h2{font-size: 100px;}
.ST02 > div:first-of-type div p{font-size: 40px;}
/* service technology 기술2 컨텐츠 부분*/
.ST02 > div:first-of-type ol{width: calc(100% - 350px);}

/* service technology 기술3 제목 부분*/
.ST03 div h2{font-size: 100px;}
.ST03 div p{font-size: 40px;}


/* service contents 컨텐츠1 제목 부분*/
.SC01 h2{font-size: 100px;}


/* service contents 컨텐츠3 컨텐츠 부분*/
.SC02 ul li figure img{width: 70%;}
}


@media screen and (min-width:767px) and (max-width:1400px){
/* .SC01 div{position: relative;} */
.SC01 div::after{content: ''; display: block; position: absolute; left: 0;top: 0; width: 100%; height: 100%; background-color:rgba(221,221,221,0.5);}
}
/*가로 767 ~ 1366 */
@media screen and (min-width:767px) and (max-width:1366px){
.ST01, .ST02, .ST03 , .SC01 , .SC02{padding: 75px 30px 0;}
/* .pageArea:first-of-type .SC01{position: relative;}
.pageArea:first-of-type .SC01::after{content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(255,255,255,0.5);}
.SC01 h2{z-index: 1;}
.SC01 ul{z-index: 1;} */

.SC02 h2{font-size: 80px;}
.SC02 ul li figure figcaption{height: 140px;}
.SC02 ul li figure figcaption dl dt{font-size: 25px;}
.SC02 ul li figure figcaption dl dd br{display: none;}
}

@media screen and (min-width:1366px) and (max-height: 800px){
.SC02 h2{margin-bottom: 5vh;}
.SC02 ul li span{display: none;}

.ST03 div:first-of-type{margin-bottom: 5vh;}
.ST03 ul li{min-height: 400px;}
}


/*가로 767 ~ 1025*/
@media screen and (min-width:767px) and (max-width:1025px){
/* service technology 기술1 제목 부분*/
.ST02 > div:first-of-type{flex-direction: column; margin-bottom: 5vh;}
.ST02 > div:first-of-type div{display: flex; flex-direction: column; align-items: center; justify-content: space-between;}
.ST02 > div:first-of-type div h2{margin-bottom: 2vh;}
.ST02 > div:first-of-type div h2 br{display: none;}
.ST02 > div:first-of-type div p{margin-bottom: 1vh;}
.ST02 > div:first-of-type div p br{display: none;}
/* service technology 기술1 컨텐츠 부분*/
.ST02 > div:first-of-type ol{width: 100%;}
.ST02 > div:first-of-type ol li{padding: 10px 5%;}
.ST02 > div:first-of-type ol li:not(:last-of-type){margin-bottom: 1vh;}
/* service technology 기술2 소제목 내용 부분*/
.ST02 > div:nth-of-type(2) ul{width: calc(100% - 350px);}

/* service technology 기술3 컨텐츠 부분*/
.ST03 div:first-of-type{flex-direction: column; align-items: center; margin-bottom: 9vh;}
.ST03 div:first-of-type h2{margin-bottom: 5vh;}
.ST03 ul{max-height: 400px;}
.ST03 ul li{width: 33.33%;}
}

/* 모바일 */ 
.m_sliderBtn{display: none;}
/* .ST03 div.m_sliderBtn{display: none;} */
@media screen and (max-width:767px){
.SC02{position: relative;}
.m_sliderBtn{display: block; position: absolute; top: 50%; font-weight: 900; font-size: 30px; width: 100%; z-index: 1;}
.m_sliderBtn span{position: absolute; display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; background-color: #eeeeee;}
.m_sliderBtn span img{width: 100%;}
.m_sliderBtn span:first-of-type{left: 0;}
.m_sliderBtn span:last-of-type{right: 0;}

.serviceArea{padding-top: 100px;}
/* .serviceDistributionArea,.serviceLogistigyArea{display: none;} */
.serviceDistributionArea ,.serviceLogistigyArea ,.serviceTechnology01Area ,.serviceTechnology02Area, .serviceTechnology03Area{padding: 0 30px;}

/* service technology 기술1 부분*/
.ST01{flex-direction: column; align-items: flex-start;}
/* service technology 기술1 제목 부분*/
.ST01 div:first-of-type h2{margin-bottom: 0.125em;}
.ST01 div:first-of-type p{margin-bottom: 1em;}
/* service technology 기술1 컨텐츠 부분*/
.ST01 ul{width: 100%;}
.ST01 ul li{padding: 360px 0 60px 0; text-align: center; background-position: center 40px; background-size: 360px;}

/* service technology 기술2 부분*/
.serviceTechnology02Area{margin-bottom: 150px;}
.ST02 > div:first-of-type{flex-direction: column;}
/* service technology 기술2 제목 부분*/
.ST02 > div:first-of-type div h2{margin-bottom: 0.313em;}
.ST02 > div:first-of-type div p{margin-bottom: 1.364em;}
.ST02 > div:first-of-type div p br:last-of-type{display: none;}
/* service technology 기술2 컨텐츠 부분*/
.ST02 > div:first-of-type ol{width: 100%;}
.ST02 > div:first-of-type ol li{flex-direction: column; align-items: flex-start; padding: 30px 40px;}
.ST02 > div:first-of-type ol li:not(:last-of-type){margin-bottom: 40px;}
.ST02 > div:first-of-type ol li h3{margin-bottom: 30px;}
/* service technology 기술2 소제목 컨텐츠 부분*/
.ST02 > div:nth-of-type(2){flex-direction: column;}
.ST02 > div:nth-of-type(2) ul{width: 100%;}
.ST02 > div:nth-of-type(2) ul li{height: 130px;}
.ST02 > div:nth-of-type(2) div dl{margin-bottom: 30px;}
/* .ST02 > div:nth-of-type(2) ul li:nth-of-type(3){justify-content: flex-end; background-position: right top;} */

/* service technology 기술3 부분*/
.ST03{margin-bottom: 150px; position: relative;}
.ST03 div:first-of-type{flex-direction: column; align-items: center; margin-bottom: 60px;}
/* service technology 기술3 제목 부분*/
.ST03 div:first-of-type h2{font-size: 118px; margin-bottom: 0.339em;}
/* service technology 기술3 컨텐츠 부분*/
.ST03 ul{position: relative;}
.ST03 ul li{position: absolute; left: 0; top: 0; width: 100%; max-width: 100%; height: 100%; background-color: white; height: 400px; min-height: 400px; opacity:0; transition: 1s;}
.ST03 ul li.M_Show{opacity: 1;}

/* service contents 공통부분*/
.SC01{align-items: flex-start;}
.SC01 div{position: static; z-index: 0; width: 100%; margin-bottom: 70px;}
.SC01 div img{width: 100%;}
.SC01 > *:not(div){padding: 0 30px; box-sizing: border-box;}
.SC01 h2{font-size: 104px; margin-bottom: 0.673em;}

.SC01 ul{margin-bottom: 70px;}


.SC02 ul{position: relative; height: 780px;}
.SC02 ul li{position: absolute; left: 15%; top: 0; width: 70%; height: 100%; background-color: #dddddd; opacity: 0; transition: 1s;}
.SC02 ul li.M_Show{opacity: 1;}

.ST03 .m_sliderBtn{top: 70%;}




}


@media screen and (max-width:700px){
.serviceDistributionArea ,.serviceLogistigyArea ,.serviceTechnology01Area, .serviceTechnology02Area, .serviceTechnology03Area{padding: 0 10px;}
/* service technology 기술1 제목 부분*/
.ST01 div:first-of-type h2{font-size: 100px;}
.ST01 div:first-of-type p{font-size: 35px; }
/* service technology 기술2 제목 부분*/
.ST02 > div:first-of-type div h2{font-size: 100px; }
.ST02 > div:first-of-type div p{font-size: 35px;}
/* service technology 기술2 컨텐츠 부분*/

/* service technology 기술3 제목 부분*/
.ST03 div:first-of-type h2{font-size: 65px;}
.ST03 div:first-of-type p{font-size: 35px;}
/* service technology 기술3 컨텐츠 부분*/

/* service contents 공통부분*/
.SC01 h2{font-size: 80px;}
.SC01 > *:not(div){width: 100%;}


.SC02 h2{font-size: 80px;}
}

@media screen and (max-width:600px){
/* service technology 기술1 제목 부분*/
.ST01 div:first-of-type h2{font-size: 100px;}
.ST01 div:first-of-type p{font-size: 35px; }
/* service technology 기술2 제목 부분*/
.ST02 > div:first-of-type div h2{font-size: 100px; }
.ST02 > div:first-of-type div p{font-size: 35px;}
/* service technology 기술2 컨텐츠 부분*/

/* service technology 기술3 제목 부분*/
.ST03 div:first-of-type h2{font-size: 65px;}
.ST03 div:first-of-type p{font-size: 27px;}
/* service technology 기술3 컨텐츠 부분*/

/* service contents 공통부분*/
.SC01 h2{font-size: 60px;}
.SC01 > *:not(div){width: 100%; padding: 0 10px;}


.SC02 h2{font-size: 65px;}
.SC02 ul{height: 125vw;}
.SC02 ul li{left: 10%; width: 80%;}
.ST02 > div:first-of-type ol li dl{width: 100%;}
}

@media screen and (max-width:500px){
.SC02 ul{height: 160vw;}
}

@media screen and (max-width:400px){
.SC02 ul{height: 190vw;}
}
